.spr {
  display: inline-block;
  position: relative;
  width: 128px
}
.spr:before {
  content: " ";
  width: 100%;
  display: block;
  background-image: url(/assets/img/pack/png/index.min.png);
  padding-top: 100%!important;
  background-size: 600%;
}.spr[n=ball]:before {
  background-position: 0% 0%;
}.spr[n=balls]:before {
  background-position: 20% 0%;
}.spr[n=bean-eater]:before {
  background-position: 0% 20%;
}.spr[n=blocks]:before {
  background-position: 20% 20%;
}.spr[n=cube]:before {
  background-position: 40% 0%;
}.spr[n=curve-bars]:before {
  background-position: 40% 20%;
}.spr[n=default]:before {
  background-position: 0% 40%;
}.spr[n=disk]:before {
  background-position: 20% 40%;
}.spr[n=double-ring]:before {
  background-position: 40% 40%;
}.spr[n=dual-ball]:before {
  background-position: 60% 0%;
}.spr[n=dual-ring]:before {
  background-position: 60% 20%;
}.spr[n=earth]:before {
  background-position: 60% 40%;
}.spr[n=eclipse]:before {
  background-position: 0% 60%;
}.spr[n=ellipsis]:before {
  background-position: 20% 60%;
}.spr[n=fidget-spinner]:before {
  background-position: 40% 60%;
}.spr[n=gear]:before {
  background-position: 60% 60%;
}.spr[n=gears]:before {
  background-position: 80% 0%;
}.spr[n=hourglass]:before {
  background-position: 80% 20%;
}.spr[n=infinity]:before {
  background-position: 80% 40%;
}.spr[n=magnify]:before {
  background-position: 80% 60%;
}.spr[n=message]:before {
  background-position: 0% 80%;
}.spr[n=pulse]:before {
  background-position: 20% 80%;
}.spr[n=radio]:before {
  background-position: 40% 80%;
}.spr[n=rainbow]:before {
  background-position: 60% 80%;
}.spr[n=reload]:before {
  background-position: 80% 80%;
}.spr[n=ring]:before {
  background-position: 100% 0%;
}.spr[n=ripple]:before {
  background-position: 100% 20%;
}.spr[n=rolling]:before {
  background-position: 100% 40%;
}.spr[n=spin]:before {
  background-position: 100% 60%;
}.spr[n=spinner]:before {
  background-position: 100% 80%;
}.spr[n=triangles]:before {
  background-position: 0% 100%;
}.spr[n=wave]:before {
  background-position: 20% 100%;
}.spr[n=wedges]:before {
  background-position: 40% 100%;
}