//- module
-
  var pngs = [
    "ball", "default", "eclipse", "infinity", "reload", "triangles",
    "balls", "disk", "ellipsis", "magnify", "ring", "wave",
    "bean-eater", "double-ring", "fidget-spinner", "message",
    "ripple", "wedges", "blocks", "dual-ball", "gear",
    "pulse", "rolling", "cube", "dual-ring", "gears", "radio",
    "spin", "curve-bars", "earth", "hourglass", "rainbow", "spinner"
  ]
  var svgs = [
    "500px", "basecamp", "codepen", "discover", "flickr", "aboutme", "bathasu",
    "coderwall", "disqus", "flipboard", "acm", "bebo", "codeschool", "docker",
    "fnac", "addthis", "behance", "codio", "draugiemlv", "foursquare", "aim",
    "bigcartel", "compropago", "dribbble", "freecodecamp", "air", "bing", "conekta",
    "dropbox", "garmin", "airbnb", "bitbucket", "coop", "drupal", "gauges", "amazon",
    "bitcoin", "coursera", "ebay", "geeklist", "american", "express", "bitly",
    "css3", "ello", "geocaching", "android", "blogger", "csswizardry", "empirekred",
    "gerrit", "angellist", "bootstrap", "dailymotion", "ethereum", "ghost", "angular",
    "brandai", "deezer", "etsy", "git", "apple", "buffer", "delicious", "eventbrite",
    "github", "appnet", "buzzfeed", "designernews", "eventstore", "gitlab", "asana",
    "cakephp", "deviantart", "evernote", "gitter", "atom", "campaignmonitor", "diaspora",
    "everplaces", "glassdoor", "auth0", "circleci", "digg", "facebook", "gmail",
    "automatic", "codecademy", "digitalocean", "feathub", "gnu", "baidu", "codeforces",
    "discord", "feedly", "goldenline", "bandcamp", "codeigniter", "discourse", "fitbit",
    "goodreads"
  ]
