//- module
mixin img(opt)
  if ctrl && ctrl.sprite
    div(
    class=`img-${opt.name || 'sprite'}`,
    data-name=opt.src,
    )&attributes(attributes)
  else
    img(src=opt.src)&attributes(attributes)

